:root {
    --text-disabled-color: #142839;
    --text-enabled-color: #eee;
    --furi-enabled-color: #fffc21;
    --link-color: #224d84;
    --link-color: #eee;

    /* --background-color: rgba(0, 160, 255, 1); */
    /* --background-color: rgba(97, 128, 47, 1);*/
    --background-color: rgba(113, 134, 109, 1);
}

html {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    margin:0;
    height:100%;
    min-height:100%;
    min-width: 200px;
}
body {
    background-color: var(--background-color);
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*font-family: "Hiragino Mincho Pro", "Yu Mincho", "Meiryo", "TakaoExMincho";*/
    font-family : 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;    
}
.kpwe {
    min-height: 100%;
    display:grid;
    padding: 20px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
    grid-template-areas:
        "katakana hiragana"
        "controls controls";
}
.kpwe-kana.katakana {
    padding:0 2vw;
    grid-area: katakana;
    
}
.kpwe-kana.hiragana {
    padding:0 2vw;
    grid-area: hiragana;
}
.kpwe-kana {
    margin: 0;
    padding:0;
    flex:1;
    flex-direction: row;
    text-align:center;
    cursor:pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.kpwe-kana-input {
    margin: 0;
    padding: 0;
    display: none;    
}
.kpwe-kana-input:checked + .kpwe-kana-img + .kpwe-kana-img.light {
    display: inline-block;
}
.kpwe-kana-input[name=ishiragana]:checked + .kpwe-kana-img + .kpwe-kana-img.light {
    filter: drop-shadow(0 0 0.14rem #ffff69);
}
.kpwe-kana-input[name=iskatakana]:checked + .kpwe-kana-img + .kpwe-kana-img.light {
    filter: drop-shadow(0 0 0.14rem #14fa32);
}
.kpwe-kana-input:checked + .kpwe-kana-img {
    display: none;
}
.kpwe-kana-input:disabled + .kpwe-kana-img {
    opacity: .4
}
.kpwe-kana-img {
    border:2px solid transparent;
    text-align:center;
    transition: background-color 0.5s ease;
    flex: 1;
    max-height: 60vh; /* short wide documents */
}
.kpwe-kana-img.light {
    display: none;
}
.kpwe-controls {
    margin: 0;
    padding: 0;
    grid-area: controls;
}
.kpwe-controls-control-label-range {
    width:100%;
    margin:0;
    padding:0;
    text-align:center;
    display:flex;
    flex-direction: column;
    position: relative;
}
.kpwe-controls-control-label-range-input {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

input[type=range] {
    background: transparent;
}
input[type=range]::-moz-range-thumb {
    border: none;
    width: 1.4em;
    height: 1.4em;
    border-radius: 0.7em;
    cursor:grab;
}
input[type=range]::-moz-range-thumb:active {
    cursor:grabbing;
}
input[type=range]::-moz-range-progress,
input[type=range]::-moz-range-track {
    transition: color, background-color 0.2s ease;
    height: 0.5rem;
    border-radius: 0.25rem;
}
input[type=range]::-moz-range-progress {
    background: rgba(140, 220, 255, 1);
}
input[type=range]:hover::-moz-range-progress {
    background: rgba(130, 210, 250, 1);
}
input[type=range]::-moz-range-track {
    background-color: #ccc;
}
input[type=range]:hover::-moz-range-track {
    background-color: #bbb
}

input, label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  border:0;
  outline:none;
  box-shadow:none;
  border:transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type=range]::-moz-focus-outer {
    border: 0;
}
.kpwe-controls-control {
    margin: 10px 0 0 0;
}
.kpwe-controls-control + .kpwe-controls-control {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;    
}
.kpwe-controls-control + .kpwe-controls-control > *:nth-child(2) {
    flex: 1;
}

.kpwe-controls-control-label-isfurienabled {
    text-align: left;
    cursor: pointer;
    display: block;
}
.kpwe-controls-control-label-isfurienabled-input {
    margin:0;
    padding:0;
    display:none;
}
.kpwe-controls-control-label-isfurienabled-enabled,
.kpwe-controls-control-label-isfurienabled-disabled {
    display: block;
    font-weight: bold;
    font-size:7vw;
}
.kpwe-controls-control-label-isfurienabled-enabled {
    filter: drop-shadow(0 0 0.1rem #ffff69);
    color: #fffc21;
    display: none;
}
.kpwe-controls-control-label-isfurienabled-disabled {
    color: var(--text-disabled-color);
}
.kpwe-controls-control-label-isfurienabled-input:checked + .kpwe-controls-control-label-isfurienabled-enabled {
    display: block;
}
.kpwe-controls-control-label-isfurienabled-input:checked + * + .kpwe-controls-control-label-isfurienabled-disabled {
    display: none;    
}


.kpwe-controls-control-label-isfurienabled-input:disabled + *,
.kpwe-controls-control-label-isfurienabled-input:disabled + * + * {
    opacity: .4
}
.kpwe-controls-control-label-isfurienabled-input:disabled + .kpwe-controls-control-label-isfurienabled-enabled {
    display: none;
}
.kpwe-controls-control-label-isfurienabled-input:disabled + * + .kpwe-controls-control-label-isfurienabled-disabled {
    display: unset;
}

.kpwe-controls-control-label-isorigindisabled {
    text-align:center;
    cursor: pointer;
    display: block;
}
.kpwe-controls-control-label-isorigindisabled-input {
    margin:0;
    padding:0;
    display:none;
}
.kpwe-controls-control-label-isorigindisabled-enabled,
.kpwe-controls-control-label-isorigindisabled-disabled {
    font-weight: bold;
    transition: color, background-color 0.5s ease;
    font-size:7vw;
}
.kpwe-controls-control-label-isorigindisabled-enabled {
    color: var(--text-enabled-color);
}
.kpwe-controls-control-label-isorigindisabled-disabled {
    color:var(--text-disabled-color);
    display:none;
}
.kpwe-controls-control-label-isorigindisabled-input:checked + .kpwe-controls-control-label-isorigindisabled-enabled {
    display:none;
}
.kpwe-controls-control-label-isorigindisabled-input:checked + * + .kpwe-controls-control-label-isorigindisabled-disabled {
    display:unset;
}
.kpwe-controls-control-link-study {
    color: var(--link-color);
    font-weight: bold;
    font-size:7vw;
}
