kana > ruby > rt {
    display: none
}

*:hover > kana.isfurigana-true > ruby > rt,
* > kana.isfurigana-true:hover > ruby > rt,
* > kana.isfurigana-true > ruby:hover > rt {
    display: block
}

@supports (display: ruby-text) {
    *:hover > kana.isfurigana-true > ruby > rt,
    * > kana.isfurigana-true:hover > ruby > rt,
    * > kana.isfurigana-true > ruby:hover > rt {
        display: ruby-text
    }
}
